body{
margin:0;
font-family:Arial;
background:#050d18;
color:white;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(#061a2e,#050d18);
}

.stats{
display:flex;
gap:40px;
margin-top:20px;
}

.section{
padding:80px 15%;
opacity:0;
transform:translateY(40px);
transition:1s;
}

.section.show{
opacity:1;
transform:translateY(0);
}

h2{
color:#4fc3f7;
}

#map{
height:400px;
border-radius:12px;
}

canvas{
background:#0e2238;
padding:15px;
border-radius:12px;
}

.box{
background:#0e2238;
padding:20px;
border-radius:10px;
}
