let data = [
{year:1993,value:-0.02},
{year:1998,value:0.01},
{year:2003,value:0.03},
{year:2008,value:0.05},
{year:2013,value:0.07},
{year:2018,value:0.09},
{year:2024,value:0.12}
];

function init(){
trend();
map();
scrollAnim();
}

function trend(){
new Chart(document.getElementById("trendChart"),{
type:"line",
data:{
labels:data.map(d=>d.year),
datasets:[{
label:"Sea Level Anomaly",
data:data.map(d=>d.value),
borderColor:"#4fc3f7"
}]
}
});
}

function map(){
let m = L.map('map').setView([-10,160],4);

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(m);

L.marker([-8.5,179]).addTo(m).bindPopup("Tuvalu");
L.marker([-17.7,168]).addTo(m).bindPopup("Vanuatu");
L.marker([-1.4,173]).addTo(m).bindPopup("Kiribati");
}

function scrollAnim(){
const sections=document.querySelectorAll(".reveal");

const obs=new IntersectionObserver(entries=>{
entries.forEach(e=>{
if(e.isIntersecting){
e.target.classList.add("show");
}
});
});

sections.forEach(s=>obs.observe(s));
}

init();
